body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a,ul{
    text-decoration: none;
    list-style-type:none ;
}
.dark-bg{
    background-color: #1F2937;
    color: white;
    width: 100vw;
    height: auto;
    padding: 0 0 100px 0;
}
.light-bg{
    background-color: #FFF;
   
}
.gray-bg{
    background-color: #e5E7EB;
    width: 100vw;
    height: 400px;
}
.logo-text{
    font-size: 24px;
    color: #F9FAF8;
}
.hero-main-text{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.secondary-text{
    font-size: 18px;
    color: #e5E7EB;
    flex-wrap: wrap;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 100px 20px 100px;
    flex-wrap: wrap;
}
.logo-text{
    /* border: 1px solid #fff; */
    margin:20px 0;
}
.nav-items{
    /* border: 1px solid #fff;  */
    display: flex;
    align-items: center;
}

.nav-item {
  /* border: 1px solid #fff; */
  margin-left: 20px;
}
.hero{
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-end;
    padding: 0 100px;
    align-items: center;
    flex-wrap: wrap;
}
.hero-item{
    /* border: 1px solid #fff; */
    height: 200px;
    flex: 1;
    padding: 0;
    margin: 0;
}
.hero-text-container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;   
}
.hero-main-text,.secondary-text,.hero-btn{
    margin: 0 ;
}
.hero-btn{
    background-color: #3882F6;
    color: #e5E7EB;
    width: 100px;
    padding: 2px;
    margin-top: 5px;
    border-radius: 5px;
}
.hero-img-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
img{
    height: 200px;
    width: 400px;
    padding: 2px;

}
/* second section-info section */

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    /* width: 900px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.card-item{
    border: 2px solid #3882F6;
    width: 200px;
    height: 200px;
}
